body {
  background: #f4f6f9;
  font-family: "Noto Serif Bengali", sans-serif;
}


.noto-serif-bengali {
  font-family: "Noto Serif Bengali", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.a4-sheet {
  width: 210mm;
  min-height: 297mm;
  background: white;
  padding: 20mm;
  margin: auto;
  position: relative;
  border: 1px solid #ddd;
}

/* Watermark */
.a4-sheet::before {
  content: "";
  background: url("logo.png") no-repeat center;
  background-size: 260px;
  opacity: 0.06;
  position: absolute;
  inset: 0;
  z-index: 0;
}

.a4-sheet > * {
  position: relative;
  z-index: 1;
}

.result-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid #0d6efd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.result-header img {
  width: 100px;
  margin-right: 15px;
}

.result-header h2 {
  color: #0d6efd;
  margin-top: 0;
  padding-top: 0;
}

.result-table th {
  background: #e9f2ff;
  width: 40%;
}

.sign-area {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  text-align: center;
}

.sign-area img {
  width: 120px;
}

.qr-box {
  text-align: center;
  margin-top: 20px;
}

.footer {
  margin-top: 25px;
  text-align: center;
  font-size: 13px;
  color: #555;
 
}
.toufik-name{
  font-family:Permanent Marker;
}

@media print {
  body {
    background: white;
    margin-top: -20px;
    padding: 0;
  }

  .no-print {
    display: none !important;
  }

  @page {
    size: A4;
    margin: 0;
  }

  .a4-sheet {
    border: none;
  }
}